//-//////////////////////////////////
//- Web Development Skills
//-//////////////////////////////////

.row
	.small-12.columns


		//- Heading
		a(name="web-development-skills")
		hgroup#web-development-skills(data-magellan-destination="web-development-skills")
			h2.section-heading Web Development Skills
			h3.section-subheading Last updated February 05, 2014


.row.collapse
	.small-12.columns


		//- Skills
		.subsection
			h3.subsection-heading#frontend-technologies Frontend Technologies

			h4.subsection-subheading HTML
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-html.skills-list__icon
						| #{''}
						| HTML5
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-mobile-device.skills-list__icon
						| #{''}
						| Responsive Design
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						| Jade

			h4.subsection-subheading CSS
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-css.skills-list__icon
						| #{''}
						| CSS3
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-sass.skills-list__icon
						| #{''}
						| Sass
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						| LESS
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-stylus-alt.skills-list__icon
						| #{''}
						| Stylus

			h4.subsection-subheading JavaScript
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-javascript.skills-list__icon
						| #{''}
						| ECMAScript
						| #{''}
						small.skills-list__parenthetical (standardized JavaScript)
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-coffee-bean.skills-list__icon
						| #{''}
						| CoffeeScript
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-jquery.skills-list__icon
						| #{''}
						| jQuery

		.subsection
			h3.subsection-heading Backend Technologies
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-apache.skills-list__icon
						| #{''}
						| Apache
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-php-alt.skills-list__icon
						| #{''}
						| PHP
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-nodejs.skills-list__icon
						| #{''}
						| NodeJS
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-lua.skills-list__icon
						| #{''}
						| Lua
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-ruby-on-rails.skills-list__icon
						| #{''}
						| Ruby on Rails
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-csharp.skills-list__icon
						| #{''}
						| C#.NET

		.subsection
			h3.subsection-heading Databases
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-mssql.skills-list__icon
						| #{''}
						| MySQL
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-mysql.skills-list__icon
						| #{''}
						| MSSQL

		.subsection
			h3.subsection-heading Other Technologies and Languages
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-star-circled.skills-list__icon
						| #{''}
						| Markdown
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-cplusplus.skills-list__icon
						| #{''}
						| C++
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-script.skills-list__icon
						| #{''}
						| Bash
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-java.skills-list__icon
						| #{''}
						| Java

		.subsection
			h3.subsection-heading Content Management Systems (CMS)
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-joomla.skills-list__icon
						| #{''}
						| Joomla
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-wordpress.skills-list__icon
						| #{''}
						| WordPress
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-laravel-slant.skills-list__icon
						| #{''}
						| Laravel
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-cq5.skills-list__icon
						| #{''}
						| Adobe CQ5
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-fire-alt.skills-list__icon
						| #{''}
						| CodeIgniter

		.subsection
			h3.subsection-heading Browsers
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-ie.skills-list__icon
						| #{''}
						| Microsoft Internet Explorer
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-firefox.skills-list__icon
						| #{''}
						| Mozilla Firefox
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-chrome.skills-list__icon
						| #{''}
						| Google Chrome
						| #{''}
						small.skills-list__parenthetical (and Android)
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-apple.skills-list__icon
						| #{''}
						| Safari
						| #{''}
						small.skills-list__parenthetical (and iOS)
				li.skills-list__item
					a.skills-list__item-inner(href="#none")
						i.icon-opera.skills-list__icon
						| #{''}
						| Opera

		.subsection
			h3.subsection-heading Systems
			ul
				li Far-reaching knowledge of all Microsoft Windows #{''}
					i.icon-win8.skills-list__icon
				li Broad knowledge of various UNIX, Linux, and BSD distributions especially Ubuntu #{''}
					i.icon-ubuntu.skills-list__icon
					|, Debian #{''}
					i.icon-debian.skills-list__icon
					|, and Linux Mint #{''}
					i.icon-linux-mint.skills-list__icon
				li Usable knowledge of Apple's Mac OS X #{''}
					i.icon-osx.skills-list__icon
				li Setup and management of Virtual Machines with VMware, VirtualBox, and others #{''}
					i.icon-shell.skills-list__icon


		//- References
		.subsection
			h3.subsection-heading Account References
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://codeivate.com/users/saturn2888") Codeivate account
				li.skills-list__item
					a.skills-list__item-inner(href="http://stackoverflow.com/users/1624862/saturn2888") StackOverflow
